<!DOCTYPE html>
<html lang="en">

<head>
  <title>Navbar</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <style>
    .nav-item.active {
      background-color: rgb(247, 244, 208);
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand navbar-light fixed-top flex-column flex-sm-row" style="background-color: #dce6ff;">
    <span class="navbar-brand mb-0 h1">Store App</span>

    <ul class="navbar-nav mr-sm-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Products</a>
      </li>
    </ul>

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Sign up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Logout</a>
      </li>
    </ul>
  </nav>
</body>

</html>