<!DOCTYPE html>
<html lang="en">

<head>
  <title>Product List</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>

  <p>
    <button class="btn btn-primary">Add</button>
  </p>
  <div class="list-group">
    <a class="list-group-item list-group-item-action" href="#">
      iPhone X
    </a>

    <a class="list-group-item list-group-item-action" href="#">
      Samsung Galaxy S10
    </a>

    <a class="list-group-item list-group-item-action" href="#">
      Google Pixel 3
    </a>
  </div>

</body>

</html>