<!DOCTYPE html>
<html lang="en">

<head>
  <title>Sign up</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>

  <div class="card bg-light m-2" style="max-width: 30rem;">
    <div class="card-header">
      <h4 class="card-title text-center">Sign up</h4>
    </div>

    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="name">Name</label>
          <input class="form-control" type="text" id="name" name="name" placeholder="Enter your name" />
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input class="form-control" type="text" id="email" name="email" placeholder="Enter email" />
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input class="form-control" type="password" id="password" name="password" placeholder="Enter password"
            autocomplete="off" />
        </div>

        <button type="button" class="btn btn-primary btn-block">Sign up</button>
      </form>
    </div>
  </div>

</body>

</html>